PORT=5001
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/edugrade
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5001/api/auth/google/callback
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:5173
NLP_SERVICE_URL=http://localhost:8000
SESSION_SECRET=your_session_secret
